---
layout: default
title: Septian Razi
css: styles
---

<!-- This is my heading for my introductory paragraph -->


<div class="bg">
  <script src= "https://septianrazi.github.io/triangleBackground.p5/sketch.js">  </script>
  <div id="sketch-holder"></div>
  <div class= "centerpiece">
    <img id="logo" src= "assets/images/logo.png">
    <h1>Septian Razi</h1>
    <p>Data. Development. Design.</p>
  </div>
</div>


<!-- Navigation bar -->
<!-- <a href="index.html">
  <img src="assets/images/logo-dark.png" id="logo">
</a> -->
<nav class = "header" id = "myHeader">
  <ul>
    <li><a href="#bio">About</a></li>
    <li><a href="work.html">Work</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="#contactMe">Contact</a></li>
  </ul>
</nav>

  <!-- This is my subheading for my main content -->
<main>
  <section class= 'intro'>
    <h1 class="hi"> Hey, <br>  I'm Razi</h1>
    <img src="assets/images/main-image2-square.jpg">
  </section>

  <section class = "bio" id= "bio">
    <h2 id="Bio"> I'm a prospective </h2>

    <div class="role1">Developer</div>
    <div class="role2">Data Scientist</div>
    <div class="role3">ANU Alumni</div>

    <p class="bioDescription"> University Student by day, developer by night.
        I'm a young, ambitious Information Technology Student with experience in software development and data analysis.
        Looking to step into the real world and keen on making an impact on people.
        <br/><br/>Let's start with you.</p>
    <div class = "button", id= "CV">
      <a href="assets/CV_Complete_29Dec2019.pdf">Get my CV</a>
    </div>
  </section>

  <section class = "experience">
    <h2 id="Experience"> What I've done </h2>
    <!-- MAKE MASONRY -->
<div class="masonry">
  <div class="masonry-sizer"></div>
  {% include masonryItem.html imgUrl = "assets/images/anu.png" 
    title = "B Information Technology" 
  description = "Australian National University" %}

  {% include masonryItem.html imgUrl = "assets/images/HololensXRGenomics.gif" 
    title = "Vacation Scholar" 
    description = "CSIRO's Data61" %}

  {% include masonryItem.html imgUrl = "assets/images/uiPrototype.jpg" 
    title = "Project Manager" 
    description = "UI Prototype with Accenture & ANU Techlauncher" %}

  {% include masonryItem.html imgUrl = "assets/images/anuTechlauncher.jpg" 
    title = "Front-End Developer" 
  description = "API Test Client with Xero & ANU Techlauncher" %}
  
  {% include masonryItem.html imgUrl = "assets/images/loadingIcon.png" 
    title = "Loading-Icons.p5" 
    description = "Written in p5 and Javascript" %}

  {% include masonryItem.html imgUrl = "assets/images/govHack.jpg" 
    title = "ATO for Individuals Runner Up" 
    description = "GovHack 2019" %}
  
  {% include masonryItem.html imgUrl = "assets/images/arduino.jpg" 
    title = "Casual/Sessional Academic" 
    description = "ANU Research School of Computer Science" %}

   {% include masonryItem.html imgUrl = "assets/images/anuisa.jpg" 
    title = "President" 
    description = "ANU Indonesian Students Association" %}

  {% include masonryItem.html imgUrl = "assets/images/sr.jpg" 
    title = "Senior Resident" 
    description = "Fenner Hall, ANU" %}

  {% include masonryItem.html imgUrl = "assets/images/anuInnovationChallenge.jpg" 
    title = "Best Solution for Limited Resources" 
    description = "ANU Innovation Challenge" %}
</div>
  </section>

  <section class = "skills">
    <h2 id="Skills"> Skills </h2>
    <!-- MAKE DASHBOARD -->

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Languages')" id= "defaultOpen">Languages</button>
      <button class="tablinks" onclick="openCity(event, 'Data')">Data</button>
      <button class="tablinks" onclick="openCity(event, 'Web')">Web</button>
      <button class="tablinks" onclick="openCity(event, 'Technologies')">Technologies</button>
      <button class="tablinks" onclick="openCity(event, 'Team')">Team</button>
      <button class="tablinks" onclick="openCity(event, 'Other')">Other</button>
    </div>

    <!-- Tab content -->
    <div id="Languages" class="tabcontent">
      <ul>
        <li>JavaScript</li>
        <li>Java</li>
        <li>Python</li>
        <li>C#</li>
      </ul>
    </div>

    <div id="Data" class="tabcontent">
      <ul>
        <li>Python</li>
        <li>Pandas</li>
        <li>Jupyter Notebook</li>
        <li>Excel</li>
        <li>MySQL</li>
      </ul>
    </div>

    <div id="Web" class="tabcontent">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Sass</li>
        <li>Jekyll</li>
        <li>React</li>
      </ul>
    </div>

    <div id="Technologies" class="tabcontent">
      <ul>
        <li>Git</li>
        <li>Windows</li>
        <li>Bash</li>
        <li>Unity</li>
        <li>Visual Studio</li>
        <li>IntelliJ IDEA</li>
      </ul>
    </div>

    <div id="Team" class="tabcontent">
      <ul>
        <li>Confluence</li>
        <li>Kanban</li>
        <li>Slack</li>
        <li>Project Management</li>
        <li>Agile</li>
        <li>Technical Writing</li>
      </ul>
    </div>
    
    <div id="Other" class="tabcontent">
      <ul>
        <li>Canva</li>
        <li>Beatboxing</li>
        <li>Minecraft</li>
      </ul>
    </div>
    <!-- <ul>
      <li>HTML<div class="rating">●●●●●</div></li>
      <li>CSS<div class="rating">●●●●●</div></li>
      <li>Javascript<div class="rating">●●●●●</div></li>
      <li>Python<div class="rating">●●●●●</div></li>
      <li>Java<div class="rating">●●●○○</div></li>
      <li>MySQL<div class="rating">●●●○○</div></li>
      <li>ARM Assembly<div class="rating">●●●○○</div></li>
      <li>Ada<div class="rating">●●●○○</div></li>
    </ul>
    <ul>
      <li>Data Analytics<div class="rating">●●●●○</div></li>
      <li>Public Speaking<div class="rating">●●●●○</div></li>
      <li>Agile<div class="rating">●●●●○</div></li>
      <li>Leadership<div class="rating">●●●●○</div></li>
      <li>Communication<div class="rating">●●●●○</div></li>
      <li>Scrum<div class="rating">●●●●○</div></li>
      <li>Project Management<div class="rating">●●●●○</div></li>
  </ul>
    <ul>
        <li>Microsoft Office<div class="rating">●●●●●</div></li>
        <li>Git<div class="rating">●●●●●</div></li>
        <li>Windows<div class="rating">●●●●●</div></li>
        <li>Mac<div class="rating">●●●●○</div></li>
        <li>Adobe Photoshop<div class="rating">●●●●○</div></li>
        <li>Command Line<div class="rating">●●●●●</div></li>
        <li>Beatboxing<div class="rating">●●●●○</div></li>
        <li>Minecraft<div class="rating">●●●●○</div></li>

    </ul> -->
  </section>
  
  <section class="contact">
  <h2> <a id="contactMe"></a> Stalk me here </h2>
  <ul class = 'socialMediaLinks'>
      <li id= "linkedin"><a href="https://www.linkedin.com/in/septianrazi/"><img src= "assets/images/linkedin.png"></a></li>
      <li id= "github"><a href="https://www.github.com/septianrazi/"><img src= "assets/images/github.png"></a></li>
      <li id= "email"><a href="mailto:septian.razi@gmail.com?subject=Found%20your%20Website!%20"><img src= "assets/images/email.png"></a></li>
      <li id= "instagram"><a href="https://www.instagram.com/septianrazi/"><img src= "assets/images/instagram.png"></a></li>
  </ul>

  </section>
  <!-- <h2> fun scrolly game at the end </h2> -->
</main>

<div class= "footerColor"></div>
{% include footer.html %}



