
/* This is my style sheet */


/* Example of CSS replacing the HTML style sheet we used in the previous demo version */

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: LightGoldenRodYellow;
  font-family: "Helvatica Neue", sans-serif;
  height : 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("wellington.PNG");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1  {
  color: black;
  font-weight: bold;
  font-size: 36px;
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  }

h2  {
  color:blue;
  font-weight: bold;
  font-size: 30px
  }



/* Menu division: format the menu generally including background colour and style */

#menu {
  width: 550px;
  height: 35px;
  font-size: 15px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #66CC33;
  border-radius: 6px;
}

/* Menu division: format the unordered list so that it appears directly below the title of the page and below the edge of the colour background */
#menu ul {
  height: auto;
  padding: 8px 0px;
  /*margin: 0px;*/
}

/* Menu division: format the list items so that they display across the page instead of in a vertical list */
#menu li {
display: inline;
padding: 20px;
}

/* Menu division: format the link items so that they are dark blue, spaced apart, and do not have underlines */
#menu a {
    text-decoration: none;
    /*color: #0000CC;*/
    /*padding: 8px 8px 8px 8px; */
}
