<div class="masonry-item" onclick= "displayModal('{{ include.id }}')">
    <img src="{{ include.imgUrl }}" />
    <div class = "masonryDescription">
      <h4> {{ include.title }} </h4>
      <p> {{ include.description }} </p>
    </div>  
</div>

<!-- The Modal -->
<div id= {{ include.id }} class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class= "modal-image">
    <img src = "{{ include.imgUrl }}"/>
    </div>
      <div class="modal-header">
        <div class="close">&times;</div>
        <h2>{{include.title}}</h2>
        <h3>{{include.description}}</h3>
      </div>
      <div class="modal-body">
        <p>{{include.text}}</p>
        <br>
        <p class = "stack">{{include.stack}}</p>
      </div>
      <div class="modal-footer">
        <p><a href = "{{include.sourceURL}}" target = _blank>Source</a></p>
      </div>
    </div>
</div>