<div class="masonry-item" onclick= "displayModal('{{ include.id }}')" data-aos= "fade-up">
    <img src="{{ include.imgURL }}" />
    <div class = "masonryDescription">
      <h4> {{ include.title }} </h4>
      <p> {{ include.description }} </p>
    </div>  
</div>

<!-- The Modal -->
<div id= {{ include.id }} class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class= "modal-image">
      {% if include.modalImgURL %} 
        <img src = "{{ include.modalImgURL }}"/>
      {% elsif include.video %} 
        <iframe src="https://www.youtube.com/embed/{{ include.video }}" frameborder="0" allowfullscreen></iframe>
      {% else %}
        <img src = "{{ include.imgURL }}"/>
      {% endif %} 

    
    </div>
      <div class="modal-header">
        <div class="close">&times;</div>
        <h2>{{include.title}}</h2>
        <h3>{{include.description}}</h3>
        <h4>{{include.year}}</h4>
      </div>
      <div class="modal-body">
        <p>{{include.text}}</p>
        <br>
        <p class = "stack">{{include.stack}}</p>
      </div>
      <div class="modal-footer">
        <p><a href = "{{include.sourceURL}}" target = _blank>Find out more</a></p>
      </div>
    </div>
</div>