@import 'defaults.scss';
@import 'brand.scss';
// @import 'animate';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color2;
  font-family: "Raleway", sans-serif;
  height : 100%;
  margin: 0;

  // Grid settings
  display: grid;
  grid-template-columns: [left-ws] 20% [content-col] 60% [right-ws] 20% [right-end];
  grid-template-rows: [header-img] 90% [navbar] 10% [content-row] auto [footer] auto [page-end];
  grid-template-areas: 
    "bg bg bg"
    "nav nav nav"
    ". content ."
    ". footer-content .";

  row-gap: 2vh;

    //font defaults
    h1  {
      color: $color3;
      font-weight: bold;
      font-size: 3em;
      font-family: Athiti, sans-serif;
      }
    
    h2  {
      color: $color1;
      font-weight: bold;
      font-size: 2.5em;
      font-family: Athiti, sans-serif;
      margin-bottom: 2%;
      margin-top: 5%;
    
      }
    
    p, li {
      font-size: 1.2em;
    }
}

.bg {
  grid-column: left-ws / right-end;
  grid-row: header-img / content-row;
  z-index: -1;

  #sketch-holder {
    position: absolute;
  }

  .centerpiece {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    #logo {
      width: 40%;
    }
  
    h1 {
      margin-bottom: 15px;
      font-size: 5vw;
    }

    p {
      font-size: 2vw;
    }
  }
}

// /* ------------------- */
// /* NAVIGATION BAR CSS */
// /* ------------------- */

nav {
  grid-area: nav;

  font-family: Athiti, sans-serif;
  font: bold;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $color2;
  padding-top: 1em;
  transition: all 0.3s; 
    
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    text-align: center;
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
  }
    
  a {
    color:  $color1;
    text-decoration: none;
  }

}

  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $color1;

    z-index: 99;

    a {
      color:  $color2;
      text-decoration: none;
    }

    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
  }

main {
  grid-area: content;

  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 3vh;
  grid-template-areas: 
    "1"
    "2"
    "3"
    "4"
    "5";


  // /* ------------- */
  // /* INTRO SECTION */
  // /* ------------- */

  section.intro{
    grid-area: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-basis: 50%;

    h1 {
      font-size: 4vw;
      // float: left;
    }

    img {
      width: 17vw;
      border-radius: 50% / 50%;
      border-style: solid;
      border-width: 1vw;
      border-color: white;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }

  // /* ------------ */
  // /* BIO SECTION */
  // /* ------------*/
  section.bio{
    grid-area: 2;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4 auto);
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;
    grid-template-areas: 
      "heading heading heading"
      "role1 role2 role3"
      "desc desc desc"
      ". . cvbutton";

    h2 {
      grid-area: heading;
    }

    %rolesButton{ 
      font-size: 1.5em;
      font-family: $body-text;
      
      text-align: center;
      text-decoration: none;
      background-color:  $color1; 
      color:  $color2;
      border: none;

      padding: 15px;
      border-radius: 10px;

      width: 70%;

      // -webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
      // transition: 0.3s;

      // &:hover{
      //   background-color: #395e5e;
      //   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      // }
    }

    // roles button
    .role1 {
      @extend %rolesButton;
      grid-area: role1;
    }

    .role2 {
      @extend %rolesButton;
      margin: 0 auto;
      grid-area: role2;
    }

    .role3 {
      @extend %rolesButton;
      margin-left: auto;
      grid-area: role3;
      
    }

    // paragraph description CSS
    .bioDescription{
      grid-area: desc;
    }

    // CV Button CSS
    .button {
      grid-area: cvbutton;

      text-align: center;
      font-family: $body-text;
      background-color: $color3; 
      border: none;
      color:  $color2;
      padding: 10px 10px;
      width: 35%;
      border-radius: 15% / 50%;
      margin-left: auto;

      -webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
      transition: 0.3s;

      a {
        text-decoration: none;
        color:  $color2;
      }

      &:hover{
        background-color: #232525;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

        animation-name: pulse;
        animation-duration: 1s;
      }
    }
  }

  // /* ------------------ */
  // /* EXPERIENCE SECTION */
  // /* ------------------ */
  section.experience{
    grid-area: 3;

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */

      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

      animation-name: fadeIn;
      animation-duration: 0.05s;
    
        /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        //  margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 75%; /* Could be more or less, depending on screen size */
        border-radius: 1em;

        animation-name: zoomIn;
        animation-duration: 0.1s;

        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
        grid-template-areas: 
          "img title"
          "img body"
          "img footer"
          ;
      }

      .modal-image {
        grid-area: img;

        img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
        }

        iframe {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }
      }

      .modal-header {
        grid-area: title;

        h2 {
          font-size: 2em;
        }
        h4 {
          margin-top: 0.3em;
          font-family: Raleway, sans-serif;
          color: #5d6666;
        }
      }

      .modal-body {
        grid-area: body;

        p {
          font-size: 0.95em;
        }

        .stack {
          font-style: italic;
          font-size: 0.8em;
          color: #5d6666;
        }
      }

      .modal-footer {
        font-size: 0.8em;
        grid-area: footer;

        // p {
        //   position: fixed;
        //   bottom: 0;
        //   padding-bottom: 20px;
        // }
      }

      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    
    }

  




    .masonry {
      background: $color2;
      max-width: 100%;

    }
    
    /* clear fix */
    .masonry:after {
      content: '';
      display: block;
      clear: both;
    }
    
    /* ---- .grid-item ---- */
    
    .masonry-sizer,
    .masonry-item {
      width: 31%;
    }
    
    .masonry-item {
      float: left;
      background-color: black;
      margin-bottom: 20px;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);

      transition: 0.3s;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        border-radius: 5px 5px 0px 0px;
      }

      .masonryDescription {
        background-color: $color1;
        border-radius: 0px 0px 5px 5px;
        padding: 0.8em;

        h4 {
          color: $color2;
          font-size: 1.3em;
          font-weight: 0.1em;
          margin-bottom: 0.5em;
        }

        p {
          color: $color2;
          font-size: 0.9em;
        }
      }
    }
    
  }

  // /* -------------- */
  // /* SKILLS SECTION */
  // /* -------------- */
  section.skills{
    grid-area: 4;

    /* Style the tab */
    .tab {
      overflow: hidden;
      background-color: $color2;
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      border-radius: 5px 5px 0px 0px;
      width: 16.6666%;
      font-size: 1.1em;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: $color1;
      color: $color2
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 2em 1em;
      border-top: none;
      background-color: $color1;
      border-radius: 0px 0px 5px 5px;
      color: $color2;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
      

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    
      li {
        color: $color2;
        text-align: center;
        display: inline;
        padding: 1em 1em;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
  }

  // /* --------------- */
  // /* CONTACT SECTION */
  // /* --------------- */
  section.contact{
    grid-area: 5;



    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
      "heading heading heading heading"
      "link1 link2 link3 link4 ";

    h2 {
      grid-area: heading;
    }

    ul{
      list-style-type: none;
      display: contents;
  
      /* text-align: center; */
    }
  
    li {
      text-align: center;
      /* padding: 14px 16px; */
      text-decoration: none;
      display: inline;
      margin-left: 15%;
      margin-right: 15%;
    }
  
    .socialMediaLinks img {
      width: 30%;
      transition-duration: 0.5s;

      padding-top: 10%;
      padding-bottom: 10%;

      // &:hover {
      //   width: 32%
      // }
    }
  }            
}

footer {
  display: contents; // rule used to be able to use child element in overall grid layout

  // /* -------------- */
  // /* FOOTER SECTION */
  // /* -------------- */
  .footerContent { 
    grid-area: footer-content;

    background-color:  $color1;
    color:  $color2;
    
    margin-bottom: 3vh;
    margin-top: 3vh;

    a { 
      color:  $color2;
    }

    .ccLicense img {
      margin-top: 10px;
      max-width: 5%;
      height:auto;
    }

   .githubLink img {
      margin-top: 10px;
      width: 2.5%;
      height:auto;
    }

    .jekyllLink img {
      margin-top: 10px;
      margin-left: 5px;
      width: 2.5%;
      height:auto;
      filter: grayscale(100%)
    }

    .sassLink img {
      margin-top: 10px;
      margin-left: 8px;
      width: 2.5%;
      height:auto;
      filter: grayscale(100%)
    }
  
    .attributionLinks {
      padding-left: 0.4%;
    }
  }
}

.footerColor {
  grid-column: 1 / 4;
  grid-row: 4 / 4;   
  background-color:  $color1;
}
