---
---

$light_blue: #00b0cf;
$light_green: #06945b;
$muted_blue: #b9dce2;

$black: #00161a;
$grey: #596163;
$white: #eaf3f5;
$gold: #e5b60c;
$background-white: #dbe8eb;

$title-text: Athiti, sans-serif;
$body-text: Raleway, sans-serif;

$slate_gray: #2f4f4f;
$brighter_slate_gray: rgb(125, 163, 163);

$theme-colors: (
  "primary": $slate_gray,
  "secondary": $grey,
  "success": $light_green,
  "warning": $background-white,
  "dark": $black,
  "light": $white,
  "info": $brighter_slate_gray
);

$gradient: linear-gradient(145deg, hsla(180, 26%, 39%, 1) 0%, hsla(180, 25%, 25%, 1) 100%);
$gradient-glass: linear-gradient(145deg, hsla(180, 26%, 39%, 0.8) 0%, hsla(180, 25%, 25%, 0.8) 100%);

$enable-negative-margins: true;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap_scss/bootstrap";

$title-text: Raleway, sans-serif;
// $title-text: Athiti, sans-serif;
$body-text: Raleway, sans-serif;

/* Rule for custom font */
@font-face {
  font-family: Athiti;
  src: url("../fonts/Athiti/Athiti-Regular.ttf");
}

/* Rule for custom font */
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}

// medium screen
@media (min-width: 600px) {
  body {
    font-family: $body-text;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .full-page-parent {
    width: 100%;
    height: 100%;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 99vw;
      height: 100vh;

      overflow: hidden;

      scroll-snap-align: start;
    }

    .section-cards {
      height: 90vh;
    }
  }

  .about-me-blurb {
    font-size: 0.8rem;
  }

  .skills {
    width: 100%;
    left: 0%;
    rotate: deg;
  }

  .card-body-height {
    height: 18vh;
  }

  .card-body-height {
    h5 {
      font-size: 1.1em;
    }
    p {
      font-size: 0.8em;
    }
  }
}

// big screen
@media (min-width: 1200px) {
  .skills {
    width: 80%;
    left: 0%;
    rotate: deg;
  }

  .about-me-blurb {
    font-size: 1rem;
  }

  .card-body-height {
    height: 15vh;
    h5 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

.rounded-xl {
  border-radius: 20px !important;
}

.neumorphic {
  border-radius: 20px !important;
  border-radius: 20px !important;
  box-shadow:
    7px 7px 21px #a8a8a882,
    -7px -7px 21px #ffffff82 !important;
  transition-duration: 0.3s;
  overflow: hidden;
}

.neumorphic-hover {
  &:hover {
    box-shadow:
      15px 15px 30px #a8a8a8b2,
      -15px -15px 30px #ffffffb2 !important;

    border-radius: 17px !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(142, 146, 152, 0.275);
  border-radius: 10px;
}

.glass {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(20px);
}

.glass-opaque {
  background: hsla(0, 0%, 100%, 0.78);
  backdrop-filter: blur(20px);
}

.glass-primary {
  background: $gradient-glass;
  backdrop-filter: blur(20px);
}

h1,
h2 {
  font-family: $title-text;
  font-weight: bold;
  color: #172727;
}
